@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}
.side-h2{
    text-align: center;
    padding: 15px;
    
}
/* Barra de navegacion */
.navbar{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000; /* para que la barra siempre este frente a los otros elementos */

    .nav-links{
        display: flex;

    }
    .nav-links > a{
        color: white;
        text-decoration: none;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 600;
    }
    .nav-links > a:hover{
        color: #00BDD5;
    }
    .nav-links .sesion-btn{
        background-color: #00BCD4;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        padding: 8px 10px;
    }
    .nav-links  .sesion-btn:hover{
        background-color: crimson;
    }
}

/* Tarjeta de perfil y educacion */
.main-container{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    .card{
        margin-top: 20px;
        background-color: #f6f8fa;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        border-radius: 10px;
        max-width: 900px;
        min-width: 400px;
        height: fit-content;
    }
    .ed > *{
        padding: 15px;
    }
   
    
    
    .background{
        background-color: #00BDD5;
        height: 160px;
        border-radius: 10px 10px 0 0;
        
    }
    .profile-img{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-image: url("./../img/remy_loz-hgBSriclILc-unsplash.jpg");
        background-size: cover;
        background-position: center;
        
        position: absolute;
        top: 70px;
        left: 30px;
        border: 4px solid #f6f8fa;
    }
    
    .info{
        margin-top: 50px;
    }
    .info > *{
        margin-left: 30px;
        padding: 15px;
    }
    
    .info > h3{
        font-size: 28px;
        font-weight: 600;
    }
    .info p {
        font-size: 1rem;
        color: #777779;
        text-wrap: wrap;
    }
    .edit-btn{
       
        margin-left: 35px;
        padding: 10px;
        width: 120px;
        background: none;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #0082FF;
    }
    .edit-btn .settings{
        width: 20px;
    }
    
}

/* Barra a la derecha */
.connection-request{
    text-align: center;
    min-width: 300px;
    height: fit-content;
    h2{
        
        padding: 15px;
    }
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.action-img{
    width: 40px;
    height: 40px;
}
.user-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.user-img{
        width: 50px;
        height: 50px;
        border:2px solid #00BCD4 ;
        border-radius: 20%;
        align-self: flex-start;
    }
.user-img-connections{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}
.current-connections .user-connection-container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* Se que esto no es lo mejor pero con <img> se veia la imagen estirada y fea pero como el desafio no pide JS lo hice a mano */
.user1{
    background-image: url("./../img/user-connection-img/pexels-prolificpeople-30004312.jpg");
}
.user2{
    background-image: url("./../img/user-connection-img/pexels-nakulchandra-30026793.jpg");   
}
.user3{
    background-image: url("./../img/user-connection-img/pexels-uiliamnornberg-30712844.jpg");
}
.user4{
    background-image: url("./../img/user-connection-img/pexels-bymuratisikofficial-16673310.jpg");
}
.user5{
    background-image: url("./../img/user-connection-img/pexels-rizkysabriansyah-12809815.jpg");
}
.user6{
    background-image: url("./../img/user-connection-img/pexels-dave-tombi-48516388-14983798.jpg");
}